{{ define "header" }}
{{ $tabs := tabs (.Module)}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="HandheldFriendly" content="true"/>
		<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, user-scalable=no">
		<meta name="theme-color" content="#354463">
		<link rel="shortcut icon" href="{{.Path}}/pkgFiles/favicon.ico">
		<link rel="icon" sizes="192x192" href="{{.Path}}/pkgFiles/favicon192x192.png">
		<title>{{$tabs.title}}{{if not (eq .Title $tabs.title)}} - {{.Title}}{{end}}</title>
		<link rel="stylesheet" href="{{.Path}}/pkgFiles/build/style.css">
		<script type="text/javascript">
			window.panelPath="{{.Path}}/";
			window.moduleName="{{.Module}}";
			window.moduleAction="{{.Action}}";
			window.ajaxUrl = '{{.Path}}/ajax/{{.Ajax}}/';
			window.socketUrl = '{{.Path}}/websocket/{{.Socket}}/';
		</script>
		<script type="text/javascript" src="{{.Path}}/pkgFiles/build/main.js"></script>
		{{range .Js}}<script type="text/javascript" src="{{.}}"></script>{{end}}
		{{range .Css}}<link rel="stylesheet" href="{{.}}">{{end}}

		<style>
			.w-title:before {background-image: url("{{.Path}}/pkgFiles/images/title.png");}
			@media (min-width:1010px) {.navbar-default {background-image: url("{{.Path}}/pkgFiles/images/title.png");}}
			.w-wrap {background-image: url("{{.Path}}/pkgFiles/images/bg.png");}
		</style>
	</head>

	<body>
		<div id="all">
			{{template "menu" .}}
			<div>
				<div id="summer-progress"><div></div></div>
				<div class="container" id="navbar-tabs">
					<table>
						<tr>
							<td id="navbar-tabs-title">
								<h2 style="padding: 0">{{if $tabs.icon}}<i class="fa fa-{{$tabs.icon}} fa-lg" aria-hidden="true"></i>{{end}}{{$tabs.title}}{{if not (eq .Title $tabs.title)}} <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{.Title}}{{end}}</h2>
							</td>
							<td id="right-panel" rowspan="2">
							</td>
						</tr>
						<tr>
							<td id="navbar-tabs-content" class="unselectable">
								{{ range $tabs.list }}
								<a href="{{var "path"}}{{ .Link }}" class="{{if .Active}}active{{end}}">{{.Title}}</a>
								{{ end }}
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="container" id="content">
{{ end }}

{{ define "footer" }}
			</div>
			<div class="back-to-top">
				<a href="#top">
					<span class="fa fa-chevron-up"></span>
				</a>
			</div>
			<footer>
				<div class="container">
					© 2015-2017 <a style="color: #444444" href="https://github.com/night-codes/summer"><b>Summer panel</b></a>
				</div>
			</footer>
		</div>
		{{ dot "layout/form-settings.html" }}
		{{ dot "layout/script.js" }}
	</body>
</html>
{{ end }}



{{ define "menu"}}
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<a name="top"></a>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Menu visibility</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{if var "path"}}{{var "path"}}{{else}}/{{end}}"><span class="fa fa-home-2"></span> </a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					{{template "subMenu" (var "mainMenu")}}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="li-search">
						<input type="text" class="allsearch" placeholder="Поиск" class="form-control">
					</li>
					<li class="dropdown {{if false}}active{{end}}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user"></span> {{.Login}} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							{{range menu (var "dropMenu")}}{{if not .SubMenu }}{{template "menuItem" .}}{{end}}{{end}}
							<li class="divider"></li>
							<li><a href="{{var "path"}}/logout">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
{{ end }}

{{ define "menuItem" }}
	<li class="">
		<a href="{{var "path"}}{{ .Link }}">{{ .Title }}</a>
	</li>
{{end}}

{{ define "subMenu" }}
	{{range menu .}}{{if and .SubMenu .Current }}
	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ .Title }} <b class="caret"></b></a>
		<ul class="dropdown-menu">
			{{template "subMenu" .Current}}
		</ul>
	</li>
	{{else}}{{template "menuItem" .}}{{end}}{{end}}
{{end}}
